.aboutMePage {
    background-image: url("../img/background2.jpeg");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative ;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
  }
  .cardImage {
    width:200px;
    height:100px;
    box-shadow:10px 10px rgb(145, 143, 143);
  }

  .links:hover {
    background-color: rgb(194, 173, 196);
  }